/* OBSIDIAN COMPATIBILITY */

/* Reading mode */
.markdown-preview-view.handtext {
	font-family: 'Grape Nuts', var(--font-text) !important;
}

/* Source / Live preview mode */
.markdown-source-view.handtext,
.markdown-source-view.handtext .cm-scroller,
.markdown-source-view.handtext .cm-content,
.markdown-source-view.mod-cm6.handtext .cm-scroller,
.markdown-source-view.mod-cm6.handtext .cm-content,
.markdown-source-view.is-live-preview.handtext .cm-line {
	font-family: 'Grape Nuts', var(--font-text) !important;
}

/* QUARTZ COMPATIBILITY */
article.handtext {
	font-family: 'Grape Nuts', var(--bodyFont) !important;
	font-size: large;
}

article.handtext h1,
article.handtext h2,
article.handtext h3,
article.handtext h4,
article.handtext h5,
article.handtext h6,
article.handtext thead {
	font-family: 'Grape Nuts', var(--headerFont) !important;
}