/* OBSIDIAN COMPATIBILITY */

/* Reading mode */
.markdown-preview-view.handwriting {
	font-family: Yomogi, var(--font-text) !important;
}

/* Source / Live preview mode */
.markdown-source-view.handwriting,
.markdown-source-view.handwriting .cm-scroller,
.markdown-source-view.handwriting .cm-content,
.markdown-source-view.mod-cm6.handwriting .cm-scroller,
.markdown-source-view.mod-cm6.handwriting .cm-content,
.markdown-source-view.is-live-preview.handwriting .cm-line {
	font-family: Yomogi, var(--font-text) !important;
}

/* QUARTZ COMPATIBILITY */
article.handwriting {
	font-family: Yomogi, var(--bodyFont) !important;
	font-size: large;
}

article.handwriting h1,
article.handwriting h2,
article.handwriting h3,
article.handwriting h4,
article.handwriting h5,
article.handwriting h6,
article.handwriting thead {
	font-family: Yomogi, var(--headerFont) !important;
}