.markdown-preview-view.ja-font {
	font-family: "Zen Kurenaido", var(--font-text) !important;
}

.markdown-source-view.ja-font,
.markdown-source-view.ja-font .cm-scroller,
.markdown-source-view.ja-font .cm-content,
.markdown-source-view.mod-cm6.ja-font .cm-scroller,
.markdown-source-view.mod-cm6.ja-font .cm-content,
.markdown-source-view.is-live-preview.ja-font .cm-line {
	font-family: "Indie Flower", var(--font-text) !important;
}

article.ja-font {
	font-family: "Zen Kurenaido", var(--bodyFont) !important;
}

article.ja-font h1,
article.ja-font h2,
article.ja-font h3,
article.ja-font h4,
article.ja-font h5,
article.ja-font h6,
article.ja-font thead {
	font-family: "Zen Kurenaido", var(--headerFont) !important;
}