/* Reading mode */
.markdown-preview-view.yomogi-font {
	font-family: "Yomogi", var(--font-text) !important;
}

/* Source / Live preview mode */
.markdown-source-view.yomogi-font,
.markdown-source-view.yomogi-font .cm-scroller,
.markdown-source-view.yomogi-font .cm-content,
.markdown-source-view.mod-cm6.yomogi-font .cm-scroller,
.markdown-source-view.mod-cm6.yomogi-font .cm-content,
.markdown-source-view.is-live-preview.yomogi-font .cm-line {
	font-family: "Yomogi", var(--font-text) !important;
}

article.yomogi-font {
	font-family: "Yomogi", var(--bodyFont) !important;
	font-size: large;
}
article.yomogi-font h1,
article.yomogi-font h2,
article.yomogi-font h3,
article.yomogi-font h4,
article.yomogi-font h5,
article.yomogi-font h6,
article.yomogi-font thead {
	font-family: "Yomogi", var(--headerFont) !important;
}